* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/wp1865379.jpg');
}

.keys {
    margin: 150px 50px;
    display: flex;
    flex-direction: row;
}

.key {
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    width: 90px;
    height: 90px;
    background-color: rgb(175, 166, 166);
    transition: all 0.09s ease-in-out;
    margin: 15px;
    z-index: 10;
}

kbd {
    display: block;
    font-size: 40px;
}

.playing {
    transform: scale(1.1);
    border: 2px solid #8a0d0d;
    box-shadow: 0 0 10px #8a0d0d;
}